<html>
<head>
    <meta charset="utf-8">
    <title>Программа подбора кандидатов</title>
</head>
<body bgcolor="#fa8e47">
<main style ="width: 320px; margin: 0 auto;">
    <h2>Запущено приложение поиска кандидатов</h2><hr>
    <p><h3><a href="/candidate/1">Поиск по порядковому номеру (выбран 1й)</a></h3></p>
    <p><h3><a href="/list/">Список всех кандидатов</a></h3></p>
    <p><h3><a href="/search/?name=Ad">Поиск по имени (выбранo 'Ad')</a></h3></p>
    <p><h3><a href="/skill/?name=Py">Поиск по навыкам (выбранo 'Py')</a></h3></p>
    <hr><p><a href="/">Вернуться на главную</a></p>
</main>
</body>
</html>